.title {
  font-weight: 500;
}

.father {
  width: 100%;
  background: #efefef;
  transition: 0.5s;
  position: relative;
/* overflow: hidden; */
}
.father::before {
  content: "";
  background-color: #e5e5f7;
  opacity: 0.1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 40px
    ),
    repeating-linear-gradient(#444cf755, #444cf7);
  position: absolute;
  width: 100%;
  height: 100%;
}
.fatherDark {
  width: 100%;
  background: #44475a;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}
.fatherDark::before {
  content: "";
  background-color: #e5e5f7;
  opacity: 0.1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 40px
    ),
    repeating-linear-gradient(#44475a55, #44475a);
  position: absolute;
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 60px;
  display: grid;
  gap: 60px;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 850px) {
  .app {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    padding: 20px 30px;
    padding-top: 45px;
  }
  .father::before, .fatherDark::before {
    background-image: none;
  }
}
