.container, .containerDark {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}
.input {
  padding: 20px 15px;
  border: none;
  border-bottom: 1px solid rgba(98, 114, 164, 50%);
  outline: none;
  background: rgba(68, 71, 90, 2%);
  backdrop-filter: blur(4px);
  color: #3f3f3f;
  max-width: 400px;
  height: 30px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  position: relative;
  text-transform:capitalize;
}
.containerDark .input, .containerDark .label {
  background: rgba(239, 239, 239, 1%);
  color: #efefef;
}
.input:focus {
  outline: none;
  border-bottom: 3px solid rgba(98, 114, 164, 100%);
}
.input:active {
  outline: none;
}

.label {
  position: absolute;
  z-index: 100;
  font-size: 20px;
  color: #3f3f3f;
}
