.title {
  font-weight: 900;
  font-size: 70px;
  color: #3f3f3f;
}
.opacity {
  opacity: .6;
}
.containerDark .title,
.containerDark .subtitle {
  color: #efefef;
  transition: 0.5s;
}

.subtitle {
  font-size: 20px;
  color: #3f3f3f;
  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.container,
.containerDark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.input {
  padding: 20px 15px;
  border: none;
  border-bottom: 1px solid rgba(98, 114, 164, 50%);
  outline: none;
  background: rgba(68, 71, 90, 2%);
  backdrop-filter: blur(4px);
  color: #3f3f3f;
  max-width: 400px;
  height: 30px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  position: relative;
}
.containerDark .input {
  background: rgba(239, 239, 239, 1%);
  color: #efefef;
}
.input:focus {
  outline: none;
  border-bottom: 3px solid rgba(98, 114, 164, 100%);
}
.input:active {
  outline: none;
}

.button {
  margin-top: 40px;
  border: none;
  border-radius: 30px;
  padding: 15px 50px;
  background: #ff79c6;
  position: relative;
  color: #efefef;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  /* |-- ALINEACIÓN A LA DERECHA --|*/
  /* align-self: flex-end; */
}
.button:hover {
  opacity: 0.8;
}

.button_label {
  display: none;
}
